<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Inkwell">
    <title>{{ title ?? site.config.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/">{{ site.config.title }}</a>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>Built with <a href="https://github.com/bobrocke/Inkwell">Inkwell</a></p>
    </footer>
  </body>
</html>
