{{ if pagination.totalPages > 1 }}
  {{ set firstUrl = baseUrl.replace(/\/page\/\d+\/$/, '/') }}
  {{ set lastUrl = firstUrl + 'page/' + pagination.totalPages + '/' }}
  {{ set isFirst = pagination.currentPage === 1 }}
  {{ set isLast = pagination.currentPage === pagination.totalPages }}

  <nav class="pagination" aria-label="Page navigation">
    {{ if isFirst }}
      <span class="pagination__btn pagination__btn--disabled" aria-disabled="true" aria-label="First page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevrons-left"/></svg>
      </span>
    {{ else }}
      <a href="{{ firstUrl }}" class="pagination__btn" aria-label="First page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevrons-left"/></svg>
      </a>
    {{ /if }}

    {{ if isFirst }}
      <span class="pagination__btn pagination__btn--disabled" aria-disabled="true" aria-label="Previous page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevron-left"/></svg>
      </span>
    {{ else }}
      <a href="{{ pagination.prevUrl }}" class="pagination__btn" aria-label="Previous page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevron-left"/></svg>
      </a>
    {{ /if }}

    <span class="pagination__info">
      Page {{ pagination.currentPage }} of {{ pagination.totalPages }}
    </span>

    {{ if isLast }}
      <span class="pagination__btn pagination__btn--disabled" aria-disabled="true" aria-label="Next page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevron-right"/></svg>
      </span>
    {{ else }}
      <a href="{{ pagination.nextUrl }}" class="pagination__btn" aria-label="Next page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevron-right"/></svg>
      </a>
    {{ /if }}

    {{ if isLast }}
      <span class="pagination__btn pagination__btn--disabled" aria-disabled="true" aria-label="Last page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevrons-right"/></svg>
      </span>
    {{ else }}
      <a href="{{ lastUrl }}" class="pagination__btn" aria-label="Last page">
        <svg aria-hidden="true" width="14" height="14"><use href="#icon-chevrons-right"/></svg>
      </a>
    {{ /if }}
  </nav>
{{ /if }}
