<div class="post__meta">
  <time class="{{ dateClass ?? 'post__date' }}" datetime="{{ page.frontmatter.date }}">
    {{ set localDate = new Intl.DateTimeFormat(site.config.language, { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' }).format(page.date) }}
    {{ localDate }}
  </time>
  {{ if page.frontmatter.lastmod }}
    <span> &bull; </span>
    {{ set localLastmod = new Intl.DateTimeFormat(site.config.language, { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' }).format(page.lastmod) }}
    <span>Updated: {{ localLastmod }}</span>
  {{ /if }}
</div>
