{{ set checkUrl = listingUrl ?? page.url }}

<div class="post__meta">
  {{ if categories }}
    <span class="post__meta-icon" aria-hidden="true">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"/>
      </svg>
    </span>
    <ul class="tax-inline-list">
      {{ for category of categories }}
        {{ set categoryUrl = termUrl("categories", category) }}
        <li>
          {{ if checkUrl.includes(categoryUrl) }}
            <span>{{ category }}</span>
          {{ else }}
            <a href="{{ categoryUrl }}" class="tax-inline-link">{{ category }}</a>
          {{ /if }}
        </li>
      {{ /for }}
    </ul>
  {{ /if }}
  {{ if tags }}
    <span class="post__meta-icon" aria-hidden="true">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"/>
        <line x1="7" y1="7" x2="7.01" y2="7"/>
      </svg>
    </span>
    <ul class="tax-inline-list">
      {{ for tag of tags }}
        {{ set tagUrl = termUrl("tags", tag) }}
        <li>
          {{ if checkUrl.includes(tagUrl) }}
            <span>{{ tag }}</span>
          {{ else }}
            <a href="{{ tagUrl }}" class="tax-inline-link">{{ tag }}</a>
          {{ /if }}
        </li>
      {{ /for }}
    </ul>
  {{ /if }}
</div>