<div class="post__meta">
  <time class="post__date" datetime="{{ page.frontmatter.date }}">
    {{ page.date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}
  </time>
  {{ if page.frontmatter.lastmod }}
    <span>·</span>
    <span>Updated: {{ page.lastmod.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}</span>
  {{ /if }}
</div>
