{{ set checkUrl = (listingUrl ?? page.url).replace(/\/page\/\d+\/$/, '/') }}

<div class="post__meta">
  {{ if categories }}
    <span class="post__meta-icon" aria-hidden="true">
      <svg width="14" height="14"><use href="#icon-folder"/></svg>
    </span>
    <ul class="tax-inline-list">
      {{ for category of categories }}
        {{ set categoryUrl = termUrl("categories", category) }}
        <li>
          {{ if checkUrl === categoryUrl }}
            <span>{{ category }}</span>
          {{ else }}
            <a href="{{ categoryUrl }}" class="tax-inline-link">{{ category }}</a>
          {{ /if }}
        </li>
      {{ /for }}
    </ul>
  {{ /if }}
  {{ if tags }}
    <span class="post__meta-icon" aria-hidden="true">
      <svg width="14" height="14"><use href="#icon-tag"/></svg>
    </span>
    <ul class="tax-inline-list">
      {{ for tag of tags }}
        {{ set tagUrl = termUrl("tags", tag) }}
        <li>
          {{ if checkUrl === tagUrl }}
            <span>{{ tag }}</span>
          {{ else }}
            <a href="{{ tagUrl }}" class="tax-inline-link">{{ tag }}</a>
          {{ /if }}
        </li>
      {{ /for }}
    </ul>
  {{ /if }}
</div>