<div class="post__meta">
  {{ if page.frontmatter.date }}
    <span class="post__meta-icon" aria-hidden="true">
      <svg width="14" height="14"><use href="#icon-calendar"/></svg>
    </span>
    <time class="{{ dateClass ?? 'post__date' }}" datetime="{{ page.frontmatter.date }}">
      {{ set localDate = new Intl.DateTimeFormat(site.config.language, { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' }).format(page.date) }}
      {{ localDate }}
    </time>
  {{ /if }}
  {{ if page.frontmatter.lastmod }}
    <span aria-hidden="true"> &bull; </span>
    <time class="{{ lastmodClass ?? 'post__lastmod' }}" datetime="{{ page.frontmatter.lastmod }}">
      {{ set localLastmod = new Intl.DateTimeFormat(site.config.language, { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' }).format(page.lastmod) }}
      Updated: {{ localLastmod }}
    </time>
  {{ /if }}
</div>
