<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="Inkwell">
    <title>{{ title ?? site.config.title }}</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <div class="site-header__inner">
          <a href="/" class="site-header__logo">{{ site.config.title }}</a>
        </div>
      </div>
    </header>
    <main class="site-main">
      {{ content }}
    </main>
    <footer class="site-footer">
      <div class="wrapper">
        <p>Built with <a href="https://github.com/bobrocke/Inkwell">Inkwell</a></p>
      </div>
    </footer>
  </body>
</html>
