{{ layout "base.vto" }}

  <div class="wrapper">
    <div class="stack" data-space="xs">
      <div class="grid" data-layout="2-col">
        {{ for p of listing.pages }}
          {{ include "partials/post-card.vto" { post: p, listingUrl: listing.url } }}
        {{ /for }}
      </div>

      {{ include "partials/pagination.vto" { pagination: listing.pagination, baseUrl: listing.url } }}
    </div>
  </div>

{{ /layout }}
