{{ layout "base.vto" }}

  <div class="wrapper">
    <div class="stack" data-space="xs">
      <div class="page-hero">
        <h1 class="page-hero__title">Blog</h1>
      </div>

      <div class="grid" data-layout="2-col">
        {{ for post of blog }}
          {{ include "partials/post-card.vto" { post: post } }}
        {{ /for }}
      </div>

      {{ include "partials/pagination.vto" { pagination: pagination, baseUrl: "/" } }}
    </div>
  </div>

{{ /layout }}
